<h1>ジャンル追加</h1>


<from>
  <%= form_with model: @genre, url: '/genres', method: :post do |f| %>
    <h4>ジャンル名</h4>
    <%= f.text_field :name %>
    <div><%= f.submit '新規登録', class: "btn btn-success" %></div>
  <% end %>
</from>
